<!-- Home html -->

{% extends "pages/index.html" %} {% block content %}

<div class="container pt-3" style="text-align: center;">
  <h1 style="margin-top: 100px;">{{home.entries[0].heading}}</h1>
  <p style="margin-left: 25px; margin-right: 25px;">
    {{home.entries[0].description}}
  </p>
  <br>
  <div
    class="outer"
    style="
      display: block;
      margin: auto;
      width: 500px;
      height: 320px;
      max-width: 100%;
      height: auto;

      display: flex;
      flex-wrap: wrap;
      
      align-items: center;
    "
  >
    <amp-img
      class="inner"
      layout="responsive"
      src="{{home.entries[0].image.url}}"
      width="1400"
      height="1070"
      style="
        flex-basis: 0;
        flex-grow: 1;
      "
    >
    </amp-img>
  </div>
  <br><br><br>
</div>
<br />
{% endblock %}
